html {
    font-size: 16px;
}

body {
    padding-inline: 1rem;
    font-size: 1rem;
    font-family: var(--family-sans);
    font-weight: 500;
    line-height: 1.5;
    color: var(--body-color);
    background-color: var(--body-bg);
    overflow-x: hidden;
}

a {
    color: var(--link-color);
}
a:hover,
a:focus {
    color: var(--heading-color);
}
a:visited {
    color: var(--link-visited);
}

a,
button {
    font-weight: 500;
}

.hidden {
    display: none;
}

h1, h2, h3, h4 {
    color: var(--heading-color);
}

h2 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1.6rem;
}

ul {
    margin-block: 1rem;
    padding-left: 1rem;
    list-style-position: inside;
}
li {
    margin-bottom: 0.25rem;
}

button,
.button {
    display: inline-block;
    margin: 0 2px;
    padding: 4px 10px;
    border: 0;
    color: var(--btn-text);
    line-height: 1.5;
    text-decoration: none;
    background-color: var(--btn-bg);
    cursor: pointer;
    border-radius: 5px;
}

button:hover,
button:focus,
button.active,
.button:hover,
.button:focus,
.button.active {
    background-color: var(--btn-focus-bg);
    border-color: var(--btn-border);
}

button.primary,
.button.primary {
    background-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-border);
    color: var(--btn-primary-text);
}
button.primary:hover,
.button.primary:hover,
button.primary:focus,
.button.primary:focus {
    background-color: var(--btn-primary-focus-bg);
}

button.danger,
.button.danger {
    background-color: var(--btn-danger-bg);
    margin-left: 20px;
}
button.danger:hover,
.button.danger:hover,
button.danger:focus,
.button.danger:focus {
    background-color: var(--btn-danger-focus-bg);
}

button.btn-link {
    margin: 0;
    padding: 0 0.25rem;
    border-color: transparent;
    font-weight: bold;
    color: var(--link-color);
    text-decoration: underline;
    background-color: transparent;
    box-shadow: none;
}

/* Layout */

#jobSelector {
    margin-left: 1rem;
}

.nav--right {
    position: absolute;
    top: 12px;
    right: 8px;
    display: flex;
    gap: 0.25rem;
}

.user-theme__menu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}
#user-theme {
    min-height: auto;
    padding-block: 6px;
    line-height: 1.25rem;
    background-color: var(--input-bg);
}
#user-theme__label {
    position: relative;
    width: fit-content;
    transform: none;
    transition: none;
}

.logout .button {
    color: var(--btn-text);
    background-color: var(--btn-logout-bg);
    border-color: var(--btn-logout-border);
}
.logout .button:hover,
.logout .button:focus {
    background-color: var(--btn-logout-focus-bg);
}
