p {
    padding: 0 1rem;
    width: 100%;
    margin-block: 1rem;
}
.controls {
    margin-top: 0px;
}
.top {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
}
.top button {
    margin: 0 2px;
}

.controls input,
.status {
    float: left;
    margin-right: 4px;
}
input {
    padding: 2px;
    background-color: var(--input-bg) !important;
    border: 1px solid var(--input-border);
    border-radius: 4px;
}
input:focus {
    border-color: var(--input-focus-border);
    outline-color: var(--input-focus-border);
    box-shadow: 0 0 0 4px var(--shadow-gray);
}
.status {
    padding: 0;
/*    padding-top: 5px;*/
}
.group input[type="text"] {
    height: auto;
    margin-right: 3px;
    padding: 6px;
    border: 1px solid var(--group-border);
    border-radius: 2px;
}

form {
    max-width: 28rem;
    margin: auto;
    padding: 1rem;
}
label {
    display: block;
    padding: 1px 4px;
    cursor: pointer;
}
label:hover {
    background-color: var(--label-hover);
}
label input[type="text"],
label input[type="number"],
label input[type="password"] {
    display: block;
    width: 100%;
    margin: 6px 0;
    padding: 0.5rem 0.75rem;
    font: inherit;
}
label input[type="checkbox"],
label input[type="radio"] {
    margin: 0 4px;
    padding: 0.75rem;
}

.group {
    display: block;
    margin: 4px 2px;
    margin-left: 0;
    overflow: hidden;
}
.group button {
    margin: 0;
    border-right: 1px solid var(--group-border);
    border-radius: 0;
}
.group input[type="text"] + button,
.group button:first-child {
    border-radius: 4px 0 0 4px;
}
.group button:last-child {
    border-right-width: 0;
    border-radius: 0 4px 4px 0;
}
.toggles,
.toggles + button {
    display: inline-block;
    margin-top: 0;
    margin-right: 4px;
    vertical-align: top;
}
.toggles button,
.toggles + button {
    padding: 5px 40px;
    background-color: var(--btn-toggle-bg);
    border-color: var(--btn-toggle-border);
}
.toggles button:hover,
.toggles + button:hover,
.toggles button:focus,
.toggles + button:focus {
    background-color: var(--btn-toggle-focus-bg);
}

.group#prefixes button {
    width: 25%;
}
.group#labels button {
    width: 16.66%;
}
.group#suffixes button {
    width: 25%;
}

.pageList {
    overflow: auto;
    height: 600px;
    margin-top: 0.5rem;
    margin-left: 8px;
    padding: 4px;
    padding-bottom: 400px;
    border: 1px solid var(--page-list-border);
    background-color: var(--page-list-bg);
    border-radius: 6px 0 0 6px;
}
.thumbnail {
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    width: 125px;
    height: 202px;
    margin: 2px;
    padding: 4px;
    font-weight: 400;
    color: var(--thumbnail-label);
    text-align: center;
    background-color: var(--thumbnail-bg);
    border-radius: 0.25rem;
    cursor: pointer;
    word-break: break-all;
}
[color-scheme="light"] .thumbnail {
    text-shadow: 0 1px 0 #fff;
}
.thumbnail.selected {
    background-color: var(--thumbnail-focus-bg);
}
.thumbnail img {
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.thumbnail .label {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.25em;
    line-height: 1.15;
}
.thumbnail .label.magic {
    font-style: italic;
}
.thumbnail .number {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    padding-inline: 4px;
    font-size: 10px;
    font-weight: 700;
    background-color: var(--thumbnail-number-bg);
    color: var(--thumbnail-number-text);
}
.preview,
#zoomy {
    text-align: center;
}
#zoomy {
    width: 100%;
    height: 600px;
}
#zoomyStatus {
    text-align: center;
}

.preview img {
  border: 1px solid var(--thumbnail-preview-border);
}

.MuiTreeItem-root.Mui-selected,
.MuiTreeItem-root.Mui-selected:hover {
    color: var(--tree-item-focus-text);
    background-color: var(--tree-item-focus-bg);
}

.child__container {
    align-items: center;
}
.child__label {
    display: flex;
    align-items: center;
}
.child__expand-icon {
    vertical-align: bottom;
}
