:root {
	--soft: var(--zinc-100);
	--edge: var(--zinc-500);
	--mute: var(--zinc-700);
	--text: var(--zinc-900);
}

:root {
    --text-muted: var(--mute);

    --family-sans-serif: system-ui, ui-sans-serif, sans-serif;
    --family-serif: ui-serif, serif;
    --family-monospace: ui-monospace, monospace;

    --primary: var(--sky-700);
    --primary-text: white;

    --secondary: var(--mute);
    --secondary-text: white;

    --button-face: white;
    --button-text: black;

    --button-hover: black;
    --button-hover-text: white;

    --active: var(--red-700);
    --active-text: white;

	--selected: var(--amber-200);
	--selected-text: black;

	--info: var(--sky-200);
	--info-text: var(--sky-900);

    --success: var(--green-200);
    --success-text: var(--green-900);

    --danger: var(--red-200);
    --danger-text: var(--red-950);

    --object-status-active: var(--green-600);
    --object-status-inactive: var(--yellow-600);
    --object-status-deleted: var(--red-600);
    --object-status-unknown: var(--gray-600);

    --object-status-active-hover: var(--green-400);
    --object-status-inactive-hover: var(--yellow-400);
    --object-status-deleted-hover: var(--red-400);
    --object-status-unknown-hover: var(--gray-400);
}
