/* Harmony colors imported in _app.tsx */

:root {
    --soft: var(--zinc-100);
    --edge: var(--zinc-500);
    --mute: var(--zinc-700);
    --text: var(--zinc-900);
}

:root {
    --text-muted: var(--mute);

    --family-sans-serif: system-ui, ui-sans-serif, sans-serif;
    --family-serif: ui-serif, serif;
    --family-monospace: ui-monospace, monospace;

    --primary: var(--sky-700);
    --primary-text: white;

    --secondary: var(--mute);
    --secondary-text: white;

    --button-face: white;
    --button-text: black;

    --button-hover: black;
    --button-hover-text: white;

    --active: oklch(0.577 0.245 27.325); /* Tailwind red-600 */
    --active-text: white;

    --selected: var(--emerald-200);
    --selected-text: black;
    --selected-border: var(--emerald-500);

    --info: var(--sky-100);
    --info-text: var(--sky-800);
    --info-border: var(--sky-500);

    --success: var(--green-100);
    --success-text: var(--green-800);

    --danger: var(--red-100);
    --danger-text: var(--red-800);

    --object-status-active: var(--emerald-200);
    --object-status-inactive: var(--yellow-200);
    --object-status-deleted: var(--red-200);
    --object-status-unknown: var(--gray-200);

    --object-status-active-text: var(--emerald-800);
    --object-status-inactive-text: var(--yellow-800);
    --object-status-deleted-text: var(--red-800);
    --object-status-unknown-text: var(--gray-800);
}
