.orbeon__child-list {
    margin: 1rem;
}
.orbeon__child-list .orbeon__child-list {
    margin-right: -1rem;
    padding-right: 0;
}

.orbeon__child-list-pages {
    padding: 0.375rem 1rem;
}

.orbeon__child-list-item {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #aaa;
    background-color: #eee;
}
.orbeon__child-list-item:last-child {
    border-bottom: 0;
}
.orbeon__list-item-metadata {
    display: flex;
    align-items: center;
}
.orbean__child-toggle,
.orbeon__list-item-status {
    flex: none;
}
.orbean__child-title {
    flex: 1;
}

.orbean__child-toggle {
    box-sizing: border-box;
    display: inline-block;
    padding: 0.25rem;
    border: 0;
    font-size: 1.5rem;
    line-height: 1;
    color: currentColor;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}
.orbean__child-toggle:active,
.orbean__child-toggle:focus,
.orbean__child-toggle:hover {
    color: blue;
    background-color: transparent;
}

.orbeon__list-item-status {
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    background-color: #ddd;
}