.editor__child-list {
    margin: 1rem;
}
.editor__child-list .editor__child-list {
    margin-right: -1rem;
    padding-right: 0;
}

.editor__child-list-pages {
    padding: 0.375rem 1rem;
}

.editor__child-list-item {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #71717a;
    background-color: #f4f4f5;
}
.editor__child-list-item:last-child {
    border-bottom: 0;
}
.editor__list-item-metadata {
    display: flex;
    align-items: center;
}
.editor__child-toggle,
.editor__list-item-status {
    flex: none;
}
.editor__child-title {
    flex: 1;
}

.editor__child-toggle {
    box-sizing: border-box;
    display: inline-block;
    padding: 0.25rem;
    border: 0;
    font-size: 1.5rem;
    line-height: 1;
    color: currentColor;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}
.editor__child-toggle:active,
.editor__child-toggle:focus,
.editor__child-toggle:hover {
    color: blue;
    background-color: transparent;
}

.editor__list-item-status {
    padding: 0.375rem 0.75rem;
    border: 1px solid #71717a;
    font-size: 12px;
    background-color: #fff;
}
