.active,
.inactive,
.deleted,
.unknown {
    display: inline-flex;
    width: 100px;
    text-align: left;
}

.indicator__label {
    flex: 1 1 0%;
    text-align: center;
}

.active .indicator {
    color: var(--object-status-active);
}

.inactive .indicator {
    color: var(--object-status-inactive);
}

.deleted .indicator {
    color: var(--object-status-deleted);
}

.unknown .indicator {
    color: var(--object-status-unknown);
}
