.infobox {
	padding-inline: 1lh;
    padding-block: 1rem;
	color: var(--info-text);
    background-color: var(--info);
    border: 1px solid var(--sky-400);
}

.infobox h2 {
    margin: 0;
}

.infobox.infobox button {
	min-width: unset;
	margin-inline-end: 1ch;
	font-size: 10pt;
	color: var(--button-text);
	background-color: var(--button-face);
	border-color: var(--info-text);

	&:hover, &:focus {
		color: var(--button-hover-text);
		background-color: var(--button-hover);
		border-color: var(--button-hover);
	}
}
