.objectBar {
	display: grid;
	grid-template-columns: repeat(4, auto);
	width: fit-content;

	& button {
		width: fit-content;
		white-space: nowrap;
		border-color: transparent;
		background-color: transparent;

		&:hover,
		&:focus {
			border-color: black;
			background-color: black;
		}
	}
}
