<% if (failed) { %>
    <p><b>Login failed; please try again.</b></p>
<% } %>
<form action="/api/auth/login" method="post">
    <label>
        Username
        <input type="text" name="username" />
    </label>
    <% if (requirePasswords) { %>
    <label>
        Password
        <input type="password" name="password" />
    </label>
    <% } else { %>
        <input type="hidden" name="password" value="placeholder" />
    <% } %>
    <button type="submit" class="primary">
        Submit
    </button>
</form>
