<form action="/api/ingest/login">
    <label>
        Username
        <input type="text" name="username" />
    </label>
    <label>
        Password
        <input type="password" name="password" />
    </label>
    <button type="submit" class="primary">
        Submit
    </button>
    <a class="button" href="/api/ingest/user/confirm/<%=user.hash %>">
        just log in as <%=user.username %>...
    </a>
</form>
