<form action="/api/auth/login" method="post">
    <label>
        Username
        <input type="text" name="username" />
    </label>
    <label>
        Password
        <input type="password" name="password" />
    </label>
    <button type="submit" class="primary">
        Submit
    </button>
</form>
