# Credentials for connecting to a Fedora backend:
fedora_host = "http://myserver:8088"
fedora_api = "http://myserver:8088/fedora"
fedora_username = "fedoraAdmin"
fedora_password = "fedoraAdmin"
fedora_pid_namespace = "vudl"

solr_query_url = "http://myserver:8983/solr/core/query"

# Settings for Tesseract OCR
tesseract_path = "/usr/local/bin/tesseract"

# Settings for ocrmypdf (omit setting to skip this step if you aren't using it)
#ocrmypdf_path = /usr/local/bin/ocrmypdf

# REST base URL
base_url = "http://vua6743.villanova.edu:8089/rest" 

# VuFind Base URL
vufind_url = "https://myserver"

# Temp directory used for PDF generation
pdf_directory = "/tmp/"

# Settings for FFmpeg
#ffmpeg_path = /usr/bin/ffmpeg

# JVM to use for running Java apps (used for Tika)
java_path = java

# Settings for Tika (used for text extraction during Solr indexing)
tika_path = /opt/tika/tika.jar

# Settings for the textcleaner OCR preparation script. It can be downloaded
# from http://www.fmwconcepts.com/imagemagick/textcleaner/index.php
textcleaner_path = "/usr/local/bin/textcleaner"
textcleaner_switches = "-g -e stretch -u -T"

# Base path where incoming files are stored; this must contain two levels
# of subdirectories, the first representing categories and the second
# representing jobs within those categories.
holding_area_path = "C:/holdingarea"

# Base path where processed files are moved after ingestion.
processed_area_path = "C:/processed"

# Should we require a login? (Set to false for easy debugging; DO NOT DISABLE
# IN PRODUCTION)
require_login = true

# An array of uids that are allowed to log in (e.g. [user1, user2, user3]; set
# to "*" to allow all users). See also config/initializers/omniauth.rb for
# authentication settings.
user_whitelist = "*"
