# URL of React client:
client_url = "http://localhost:3000"

# Credentials for connecting to a Fedora backend:
fedora_username = "fedoraAdmin"
fedora_password = "fedoraAdmin"
fedora_pid_namespace = "vudl"
base_url = "http://localhost:8080/rest"

# The first number for the PID generator to use:
fedora_initial_pid = "1"

# Values to be indexed into commonly-used Solr facet fields:
institution = "My University"
collection = "Digital Library"

# Top-level PIDs (used to determine the end of the chain when retrieving parents)
# This is commonly the PID of your very top-level object -- e.g. vudl:1 -- and
# the PID of your top-level public object -- e.g. vudl:3.
top_level_pids[] = "vudl:1"
top_level_pids[] = "vudl:3"

# Settings for Tesseract OCR
tesseract_path = "/usr/local/bin/tesseract"

# This setting lists characters that may be included in OCR output. Leave the
# setting commented out for unfiltered output.
#tesseract_allowed_characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.,;:!'\"()&$%-+=[]?<>“”‘’—"

# Settings for ocrmypdf (omit setting to skip this step if you aren't using it)
#ocrmypdf_path = /usr/local/bin/ocrmypdf

# VuFind Base URL. Required for indexing first/last change dates into Solr and
# for generating PDFs for existing items in the collection. You can omit the
# setting if you do not use VuFind and do not need these features.
vufind_url = "https://myserver"

# Base URL and core name for Solr instance containing index
solr_url = "http://localhost:8983/solr"
solr_core = "biblio"

# Temp directory used for PDF generation
pdf_directory = "/tmp/"

# Settings for FFmpeg
#ffmpeg_path = /usr/bin/ffmpeg

# Full path to FITS command (see https://projects.iq.harvard.edu/fits/downloads)
fits_command = /usr/local/fits/fits.sh

# JVM to use for running Java apps (used for Tika)
java_path = java

# Settings for Tika (used for text extraction during Solr indexing)
tika_path = /opt/tika/tika.jar

# Settings for the textcleaner OCR preparation script. It can be downloaded
# from http://www.fmwconcepts.com/imagemagick/textcleaner/index.php
textcleaner_path = "/usr/local/bin/textcleaner"
textcleaner_switches = "-g -e stretch -u -T"

# Base path where incoming files are stored; this must contain two levels
# of subdirectories, the first representing categories and the second
# representing jobs within those categories.
holding_area_path = "/opt/holdingarea"

# Base path where processed files are moved after ingestion.
processed_area_path = "/opt/processed"

# Allowed origins, IPs, and addresses for CORS
allowed_origins[] = http://localhost:3000 # api
allowed_origins[] = http://localhost:9000 # client

# The lowest number recognized as a legal year during indexing
minimum_valid_year = 1000

# Articles that should be stripped from the title sort field during indexing.
# Be sure to include a trailing space if the articles are whole words.
# These should always be entered in all-lowercase, as sort text will be lowercased.
articles_to_strip[] = "a "
articles_to_strip[] = "an "
articles_to_strip[] = "the "

# Database settings
[Database]
# Supported values: mysql, sqlite3
client = sqlite3

# Database connection settings (required values vary based on client setting above)
[Database.connection]
# Required when client = sqlite3; filename of database, relative to api directory
filename = "./data/auth.sqlite3"
# Required when client = mysql
# To set up a MySQL/MariaDB database, run these commands in the database client:
#    create database vudl;
#    create user 'your_database_user'@'localhost' identified by 'your_database_password';
#    grant all on vudl.* to 'vudl'@'localhost';
#host = 127.0.0.1
#port = 3306
#user = your_database_user
#password = your_database_password
#database = vudl

# Mapping of language codes to display names; used for indexing
[LanguageMap]
ab = Abkhazian
af = Afrikaans
an = Aragonese
ar = Arabic
as = Assamese
az = Azerbaijani
be = Belarusian
bg = Bulgarian
bn = Bengali
bo = Tibetan
br = Breton
bs = Bosnian
ca = Catalan / Valencian
ce = Chechen
co = Corsican
cs = Czech
cu = Church Slavic
cy = Welsh
da = Danish
de = German
el = Greek
en = English
eo = Esperanto
es = Spanish / Castilian
et = Estonian
eu = Basque
fa = Persian
fi = Finnish
fj = Fijian
fo = Faroese
fr = French
fy = Western Frisian
ga = Irish
gd = Gaelic / Scottish Gaelic
gl = Galician
grc = Ancient Greek
gv = Manx
he = Hebrew
hi = Hindi
hr = Croatian
ht = Haitian; Haitian Creole
hu = Hungarian
hy = Armenian
id = Indonesian
is = Icelandic
it = Italian
ja = Japanese
jv = Javanese
ka = Georgian
kg = Kongo
ko = Korean
ku = Kurdish
kw = Cornish
ky = Kirghiz
la = Latin
lb = Luxembourgish; Letzeburgesch
li = Limburgan; Limburger; Limburgish
ln = Lingala
lt = Lithuanian
lv = Latvian
mg = Malagasy
mk = Macedonian
mn = Mongolian
mo = Moldavian
ms = Malay
mt = Maltese
my = Burmese
nb = Norwegian (Bokmål)
ne = Nepali
nl = Dutch
nn = Norwegian (Nynorsk)
no = Norwegian
oc = Occitan (post 1500); Provençal
pl = Polish
pt = Portuguese
pt-BR = Portuguese (Brazilian)
rm = Raeto-Romance
ro = Romanian
ru = Russian
sc = Sardinian
se = Northern Sami
sk = Slovak
sl = Slovenian
so = Somali
sq = Albanian
sr = Serbian
sv = Swedish
sw = Swahili
tk = Turkmen
tr = Turkish
ty = Tahitian
uk = Ukrainian
ur = Urdu
uz = Uzbek
vi = Vietnamese
vo = Volapuk
yi = Yiddish
zh = Chinese

# Collection Models
[collection_models]
List = "vudl-system:ListCollection"
Resource = "vudl-system:ResourceCollection"
Folder = "vudl-system:FolderCollection"

# Data Models
[data_models]
Image = "vudl-system:ImageData"
PDF = "vudl-system:PDFData"
DOC = "vudl-system:DOCData"
Audio = "vudl-system:AudioData"
XLS = "vudl-system:XLSData"
Text = "vudl-system:TextData"

# AudioData
[models.AudioData.datastreams.WAV.mimetype]
allowedType = "audio"
allowedSubtypes = "wav,x-wav"
[models.AudioData.datastreams.MP3.mimetype]
allowedType = "audio"
allowedSubtypes = "mpeg3,x-mpeg-3,mpeg"
models.AudioData.datastreams.OGG.mimetype]
allowedType = "audio"
allowedSubtypes = "ogg"

# CollectionModel
[models.CollectionModel.datastreams]

# CoreModel
[models.CoreModel.datastreams.THUMBNAIL.mimetype]
allowedType = "image"
allowedSubtypes = "jpeg,gif,png"
[models.CoreModel.datastreams.LICENSE.mimetype]
allowedType = "text"
allowedSubtypes = "xml"
[models.CoreModel.datastreams.DC.mimetype]
allowedType = "text"
allowedSubtypes = "xml"

# DOCData
[models.DOCData.datastreams]

# DataModel
[models.DataModel.datastreams.MASTER.mimetype]
allowedType = "*"
allowedSubtypes = "*"
[models.DataModel.datastreams.MASTER-MD.mimetype]
allowedType = "text"
allowedSubtypes = "xml"

# FolderCollection
[models.FolderCollection.datastreams]

# ImageData
[models.ImageData.datastreams.LARGE.mimetype]
allowedType = "image"
allowedSubtypes = "*"
[models.ImageData.datastreams.MEDIUM.mimetype]
allowedType = "image"
allowedSubtypes = "*"
[models.ImageData.datastreams.OCR-DIRTY.mimetype]
allowedType = "text"
allowedSubtypes = "plain"
[models.ImageData.datastreams.OCR-EDITED.mimetype]
allowedType = "text"
allowedSubtypes = "plain"

# ListCollection
[models.ListCollection.datastreams]

# PDFData
[models.PDFData.datastreams]

# ResourceCollection
[models.ResourceCollection.datastreams.AGENTS.mimetype]
allowedType = "text"
allowedSubtypes = "xml"
[models.ResourceCollection.datastreams.PROCESS-MD.mimetype]
allowedType = "text"
allowedSubtypes = "xml"

# XLSData
[models.XLSData.datastreams]